= form_for @accelerometer_datum do |f|
  - if @accelerometer_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@accelerometer_datum.errors.count, "error")} prohibited this accelerometer_datum from being saved:"
      %ul
        - @accelerometer_datum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :log_entry
    = f.text_field :log_entry
  .field
    = f.label :x_max
    = f.text_field :x_max
  .field
    = f.label :y_max
    = f.text_field :y_max
  .field
    = f.label :z_max
    = f.text_field :z_max
  .actions
    = f.submit 'Save'
