%p#notice= notice

%p
  %b Log entry:
  = @accelerometer_datum.log_entry
%p
  %b X max:
  = @accelerometer_datum.x_max
%p
  %b Y max:
  = @accelerometer_datum.y_max
%p
  %b Z max:
  = @accelerometer_datum.z_max

= link_to 'Edit', edit_accelerometer_datum_path(@accelerometer_datum)
\|
= link_to 'Back', accelerometer_data_path
