.row
  .col-sm-12
    %h1#creative
      Creative works license
      %small CC-BY-SA 4.0 License
    %p.lead
      The thesis documents, all related academic works, images, text, and all other non-code creative works are licensed under the
      = link_to 'Creative Commons Attribution-ShareAlike 4.0 International', 'http://creativecommons.org/licenses/by-sa/4.0/', :class => 'btn btn-default'
      license.

    %h2 Attribution
    .attribution
      %h4 Name
      %p
        The attribution name should be
        = succeed ',' do
          %strong Justin A. S. Bull
        = succeed ',' do
          %strong Justin Bull
        or
        %strong J. Bull
        (listed in order of most preferred).

      %h4 URL / Link
      %p
        The attribution should link or make reference to
        = succeed '.' do
          %strong
            %code
              = link_to 'https://www.justinbull.ca', 'https://www.justinbull.ca'
        Both
        %code https://
        and
        %code www.
        can be omitted if need be.
    %p
      You can see how to properly attribute my work by reading
      = link_to 'Best practises for attribution', 'http://wiki.creativecommons.org/Best_practices_for_attribution', :class => 'btn btn-default'
.row
  .col-sm-12
    %hr
.row
  .col-sm-12
    %h1#source
      Source code license
      %small MIT License
    %p.lead The source code for the web app and Arduino sketches fall under the MIT licence.
    %pre
      :preserve
        The MIT License (MIT)

        Copyright (c) 2013 Justin A. S. Bull

        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in
        all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
        THE SOFTWARE.
    %p
      To read more about the license check out the
      = link_to 'MIT License article on Wikipedia', 'http://en.wikipedia.org/wiki/MIT_License', :class => 'btn btn-default'