!!!
%html
  %head
    %title OnStar for Bikes
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to image_tag('logo-withtext.png'), root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            = nav_link 'Home', root_path
            = nav_link 'Devices', devices_path

    .container
      .app-body
        = yield
        .footer.text-center
          %hr
          = image_tag 'logo.png', :height => 45, :width => 45
          %p.text-muted
            %small
              Unless otherwise noted, all copy, images, documents are licnesed under the
              = link_to 'Creative Commons Attribution-ShareAlike 4.0 International License', license_pages_path(:anchor => 'creative')
              and all source-code under the
              = succeed '.' do
                = link_to 'MIT License', license_pages_path(:anchor => 'source')
