%p#notice= notice

%p
  %b Location:
  = @log_entry.location
%p
  %b Latitude:
  = @log_entry.latitude
%p
  %b Longitude:
  = @log_entry.longitude
%p
  %b Notes:
  = @log_entry.notes
%p
  %b Device:
  = @log_entry.device
%p
  %b Accelerometer data:
  = @log_entry.accelerometer_data

= link_to 'Edit', edit_log_entry_path(@log_entry)
\|
= link_to 'Back', log_entries_path
