%p#notice= notice

%p
  %b Name:
  = @device.name
%p
  %b Version:
  = @device.version
%p
  %b Serial:
  = @device.serial
%p
  %b Number:
  = @device.number

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
